<html>
    {% block body %}
        <h3>Einladung zu einem Meeting</h3>
        <p>Sie wurden zu einem neuen Meetign eingeladen.</p>
        <br />
        <p>Thema des Meetings: <b>{{ meeting_name }}</b></p>
        <p>Datum des Meetings: <b>{{ date|date('Y-m-d') }}</b></p>
        <p>Uhrzeit des Meetings: <b>{{ time|date('H:m') }}</b></p>
        <p>Ort: <b>{{ place }}</b></p>
        <p>Vorlagen für das Meeting: </p>
{#        {{ filePath }}#}
{#        <p>{{ meeting2 }}<p>#}
{#        <a href="./AppBundle/<?php echo $kb_file_name; ?>.ics" title="»<?php echo $kb_title; ?>« exportieren">Termin in Kalender speichern</a>#}
    {% endblock %}    
</html>
