{% extends 'base.html.twig' %}

{% block head %}
    <title>Bevorstehende Meetings</title>
{% endblock %}

{% block body %}
    {% include 'default/menu.html.twig' %}
    <script language="JavaScript" type="text/JavaScript">
        function confirmSubmit()
        {
            var agree=confirm("Sind Sie sich sicher?");
            if (agree)
                return true ;
            else
                return false ;
        }
    </script>
    
    <h2>Bevorstehende Meetings</h2>
    
    {% include 'default/flash_messages.html.twig' %}
    
    {% if meetings %}
        <table border="1" align="center" class="table table-bordered" style="margin-left: 100px">
            <tr>
                <th>Name</th>
                <th>Datum</th>
                <th>Ort</th>
                <th>Uhrzeit</th>
                <th>Optionen</th>
            </tr>
                {% for meeting in meetings %}
                    <tr>
                        <td><a href="details?id={{meeting.id}}" style="color:black">{{ meeting.name }}</a></td>
                        <td><a href="details?id={{meeting.id}}" style="color:black">{{ meeting.date|date('d-m-Y') }}</a></td>
                        <td><a href="details?id={{meeting.id}}" style="color:black">{{ meeting.place }}</a></td>
                        <td><a href="details?id={{meeting.id}}" style="color:black">{{ meeting.startTime|date('H:m') }}</a></td>
                        <td><a onclick="return confirmSubmit()" href="loeschen?id={{meeting.id}}"><button type="button" class="btn btn-danger">Löschen</button></a>  
                        <a onclick="return confirmSubmit()" href="meeting_starten?id={{meeting.id}}"><button type="button" class="btn btn-success">Starten</button></a></td>
                    </tr>
                {% endfor %}
        </table>        
    {% else %}
         <p>Es sind keine Daten vorhanden!</p>
    {% endif %}
    
{% endblock %}