{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block head %}   
    <title>{% block title %}Meeting erstellen{% endblock %}</title>
{% endblock %}

{% block body %}
    {% include 'default/menu.html.twig' %}
    <h2>Meeting erstellen</h2>
    
    {% include 'default/flash_messages.html.twig' %}
    
    <div class="container">
        <div class="register-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.date) }}
                {{ form_row(form.startTime) }}
                {{ form_row(form.endTime) }}
                {{ form_row(form.place) }}
                {{ form_row(form.emails) }}
                {{ form_row(form.type) }}
                {{ form_row(form.description) }}
                <p id="email-fields-list" data-prototype="{{ form_widget(form.agendas.vars.prototype)|e }}">
                    {% for emailField in form.agendas %}
                        {{ form_errors(emailField) }}
                        {{ form_widget(emailField) }}
                    {% endfor %}
                <p>
                <a href="#" class="collection-add btn btn-default" title="Agendapunkt hinzufügen" id="add-another-email"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a href="#" class="collection-add btn btn-default" title="Agendapunkt entfernen" id="delete-agenda"><span class="glyphicon glyphicon-trash"></span></a>
                {{ form_row(form.files) }}
                {{ form_end(form) }}

                <script type="text/javascript">
                    // keep track of how many email fields have been rendered
{#                    var emailCount = '{{ form.agendas|length }}';#}
                    var emailCount = '1';
                    jQuery(document).ready(function() {
                        
                        addAnAgenda();
                        
                        jQuery('#add-another-email').click(function(e) {
                            e.preventDefault();

                            addAnAgenda();
                        });
                       
                        
                        $('.js-datepicker').datepicker({ 
                            format: 'mm/dd/yyyy',
                            language: 'DE',
                        });
                        
                        
                        jQuery('#delete-agenda').click(function(e) {
                            e.preventDefault();

                            deleteAnAgenda();
                        });
                        
                        function addAnAgenda() {
                            var emailList = jQuery('#email-fields-list');
                           
                            // grab the prototype template
                            var newWidget = emailList.attr('data-prototype');
                            // replace the "__name__" used in the id and name of the prototype
                            // with a number that's unique to your emails
                            // end name attribute looks like name="contact[emails][2]"
                            newWidget = newWidget.replace(/__name__/g, emailCount);
                            emailCount++;

                            // create a new list element and add it to the list
                            var newLi = jQuery('<p> </p>', emailCount).html(newWidget);
                            newLi.appendTo(emailList);
                        }
                        
                        function deleteAnAgenda(){
                            if(emailCount != 2){
                                if(emailCount > 0){
                                    emailCount--;
                                }
                                $('#create_meeting_agendas_'+ emailCount).remove();   
                            } else {
                                console.log('Das letzte Feld kann nicht gelöscht werden!');
                            }
                        }
                    })
                </script> 
            </div>
        </div>
    </div>
{% endblock %}