{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block head %}
    <title>{% block title %}Meeting erstellen{% endblock %}</title>
    {% block jquery %}
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script>

        </script>
    {% endblock %}
    {#{% block javascript %}
        {{ parent() }}
        {% block javascripts '@AppBundle/Resources/public/js/form/collection.js'%}
        <script type="text/javascript" src="{{ '' }}"></script>
        {% endblock %}
    {% endblock %}#}
{% endblock %}

{% block body %}
    <h2>Meeting erstellen</h2>
    
    {% include 'default/flash_messages.html.twig' %}
    
    <div class="container">
        <div class="register-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.date) }}
                {{ form_row(form.startTime) }}
                {{ form_row(form.endTime) }}
                {{ form_row(form.place) }}
                {{ form_row(form.emails) }}
                {{ form_row(form.type) }}
                <p id="email-fields-list" data-prototype="{{ form_widget(form.agendas.vars.prototype)|e }}">
                    {% for emailField in form.agendas %}
                        {#{% if loop.index > 1 %}#}
                        
                            {{ form_errors(emailField) }}
                            {{ form_widget(emailField) }}
                        
{#                        {% endif %}#}
                    {% endfor %}
                <p>
                <a href="#" id="add-another-email">Einen weiteren Agendapunkt hinzufügen</a>
                {{ form_row(form.file) }}
                {{ form_end(form) }}

                <script type="text/javascript">
                    // keep track of how many email fields have been rendered
                    var emailCount = '{{ form.agendas|length }}';

                    jQuery(document).ready(function() {
                        jQuery('#add-another-email').click(function(e) {
                            e.preventDefault();

                            var emailList = jQuery('#email-fields-list');

                            // grab the prototype template
                            var newWidget = emailList.attr('data-prototype');
                            // replace the "__name__" used in the id and name of the prototype
                            // with a number that's unique to your emails
                            // end name attribute looks like name="contact[emails][2]"
                            newWidget = newWidget.replace(/__name__/g, emailCount);
                            emailCount++;

                            // create a new list element and add it to the list
                            var newLi = jQuery('<p> </p>', emailCount).html(newWidget);
                            newLi.appendTo(emailList);
                        });
                    })
                </script>
                
                
            </div>
        </div>
    </div>
{% endblock %}