{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block head %}
    <title>Meeting gestartet</title>
{% endblock %}

{% block body %}
<h1>Meeting gestartet</h1>
<h2>Name des Meetings: {{ meeting_name }}</h2>
<br />
<div class="row">
    <div class="col-md-4">
        <h3>Agendapunkte</h3>
        <div id = "countdownExample">
            {% for agenda in agendas %}
                <h4><td>Agendapunkt: {{ agenda.name }}   Minuten: <span class="values" data-time="{{ 100*agenda.minutes }}" id="time_{{ loop.index }}" data-tid="{{ loop.index }}">{{ 1000*agenda.minutes }}</span></td><br /></h4>
            {% endfor %}
        </div>
        <br />
        <button  class="js-stop btn btn-default" style="" data-target="">Skip</button>
    </div>
    
    {{ form_start(form) }}
        <div class="col-md-4">
            <h3>Notizen zum Meeting</h3>
            <p id="email-fields-list" data-prototype="{{ form_widget(form.notice.vars.prototype)|e }}">
                {% for noticeField in form.notice %}
                    <td>{{ form_errors(noticeField) }}</td>
                    {{ form_widget(noticeField) }}
                {% endfor %}
            </p>    
            <a href="#" id="add-another-email" class="btn btn-default">Notiz hinzufügen</a>
            <br />
            <br />
    {#        <td><a onclick="return confirmSubmit()" href="pdf?id={{meeting_id}}"><button type="button" class="btn btn-danger">Speichern</button></a>  #}
            <br />    
            <br />
            {{ form_row(form.save) }}
        </div>
    {{ form_end(form) }}
    <div class="col-md-4">
       <h3>Dokumente</h3> 
       <br />
       <a href="file:///C:/xampp/htdocs/projekte/SkyGateAgenda/web/{{meeting_files}}"><b>{{meeting_files}}</b></a>   
    </div>    
</div>
    
<script>
    

    $(document).ready(function () {
        'use strict';
        
            var emailCount = '{{ form.notice|length }}';

                        jQuery(document).ready(function() {

                            addAnAgenda();

                            jQuery('#add-another-email').click(function(e) {
                                e.preventDefault();

                                addAnAgenda();
                            });

                            function addAnAgenda() {
                                var emailList = jQuery('#email-fields-list');

                                // grab the prototype template
                                var newWidget = emailList.attr('data-prototype');
                                // replace the "__name__" used in the id and name of the prototype
                                // with a number that's unique to your emails
                                // end name attribute looks like name="contact[emails][2]"
                                newWidget = newWidget.replace(/__name__/g, emailCount);
                                emailCount++;

                                // create a new list element and add it to the list
                                var newLi = jQuery('<p> </p>', emailCount).html(newWidget);
                                newLi.appendTo(emailList);
                            }
                        })    

        var timersElements = $('[data-time]'),
        timers = [];
        console.log(timersElements);
        var dir;
        var i = 1;

        $.each(timersElements, function (k, timerElement) {
            var t = {
                "active" : false,
                "id" : $(timerElement).attr('id'),
                "time": parseInt($(timerElement).data('time'), 10),
                "target": $(timerElement).data('target'),
                "dir": "down",

                "interval": setInterval(function () {
                    console.log(this.dir = dir);
                    if(dir == "up"){
                        if(t.active == true){
                            $('.active').css("color", "red");
                            $('.active').css("font-size", "25px");
                            t.time = t.time + 1;
                            if (t.time >= 0) {
                                t.show();
                            } else {
                                dir = "down";
                            }
                        }   
                    }  
                    if (dir == "down"){
                       if(t.active == true){
                           $('.active').css("font-size", "25px");
                            t.time = t.time - 1;
                            if (t.time >= 0) {
                                t.show();
                            } else {
                                dir = "up";
                            }
                        } 
                    }
                }, 1),
                        
                "show": function () {
                    $(timerElement).text(this.time);
                },
                "countdown": function () {
                    dir = "down"
                    t.active = true;
                    t.interval();

                },
                "countup": function(){
                    t.active = true;
                    dir = "up";
                    t.interval();
                },       
                "stop":  function(){  
                    $.each(timers, function(index){
                        if(t.active = true){
                            var tElement = jQuery('#time_' +(this.id));
                            window.clearInterval(t.interval);
                            t.active = false;
                            this.id = i++;

                            console.log('stop this.id:' + this.id);
                            tElement.active = true;
                            timers[this.id].countdown(); 

                        }
                        else{
                            console.log("t ist nicht aktiv");    
                        }
                    }); 
                }
            };

            timers[k] = t;

            $('.js-stop').click(function () {
                var objectId = $('.active').data('tid') + 1;
                var timerId = $('.active').data('tid') - 1;
                $('.active').removeClass('active');
                $('#time_' + objectId).addClass('active');
                console.log(objectId + ' : ' + timerId);
                timers[timerId].stop();
            });

        });

        $('#time_1').addClass('active');
        timers[0].countdown();

        $.each(timers, function (k, timer) {
            if (timer.active == true) {
                timer.stop();
            } 
        });


    });

</script>

{% endblock %}
