<html lang="de">
{% block head %}
<head style = "background-color: black ">
    <!DOCTYPE html>
    <title>Merkzettel.pdf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
    .center {
        margin: auto;
    }
    </style>
</head>
{% endblock %}

{% block body %}
    <div class="center">
    {% if meeting_name is defined %}
    <h1>Notizen zum Meeting</h1>
    <p>In dem Dokument können Sie die Notizen finden, welche während des Meetings <b>{{ meeting_name }}</b> am <b>{{ meeting_date }}</b> gemacht wurden.
        <br />
        <br />
    {% for startedMeeting in startedMeetings %}
        <hr />
        <br />
        <b>Notizen:</b>    {{ startedMeeting.notice }}<br />
        <b>Art:</b>        {{ startedMeeting.type }}<br />
        <b>Personen:</b>       {{ startedMeeting.person }}<br />
        <b>Bis zum:</b>      {{ startedMeeting.date|date('d.m.Y') }}<br />
        <br >
    {% endfor %}
    <hr />
    <br />
    {% endif %}
    </div>
{% endblock %}
